<%- include('templates/header.ejs') %>
<body>
    <%- include('templates/nav.ejs')  %> 
    <div class="container space-top">
        <div class="card-header">
            <h3>Todas as perguntas</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tr>
                      <th scope="col">Titulo</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Ações</th>
                    </tr>
                    <% perguntas.forEach((pergunta)=>{ %>
                        <tr>
                          <td><%= pergunta.title  %> </td>
                          <td><%= pergunta.description %></td>
                          <td> <a href="/delete-pergunta/<%=pergunta.id %>">Delete</a></td>
                          <td> <a href="/pergunta-selecionada/<%=pergunta.id %>">Responder</a></td>
                        </tr>
                    <%})%>
                  </table>
            </div>
        </div>
    </div>
   
<%- include('templates/scripts.ejs') %>