<%- include('../../templates/site/header.ejs') %>

<body>
    <%- include('../../templates/site/nav.ejs') %>
    <div class="container">
        <h1><%= article.title %></h1>

        <p><%= article.createdAt %> </p>

        <div>
            <%- article.body %>
        </div>
        <hr>
        <a class="btn btn-primary" href="/site/article">voltar</a>
        <%- include('../../templates/site/scripts.ejs') %>

        <script>
            function deleteConfirm(event, form) {
                console.log(name)
                event.preventDefault()
                const confirmed = confirm("Deseja deletar");
                if (confirmed) {
                    form.submit()
                }
            }
        </script>